 <!doctype html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <!-- <link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet"> -->
    
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min2.3.2.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}" />
	<link rel="stylesheet" href="{{url_for('static',filename='4musicsearch.css')}}" />

<!--     <link rel="stylesheet" href="../static/bootstrap.min.css"  >

	<link rel="stylesheet" href="../static/4musicsearch.css"  > -->
	
    <title>Cover-Search</title>
	
	
	<style>
		body{
		font-family:"微软雅黑" ;
		}
	</style>
</head>
<body>	
    <div class="nav">
		<a href="/">纯文本输出</a>
		<a href="/pic">歌曲搜索</a>
		专辑墙
		<a href="/coversearch">封面搜索</a>
        <a href='/comment'>留言板</a>
		
	</div>
	<div>
	  <form action="" method="post" enctype="multipart/form-data">     		
          <input class="inputbox" wrap='hard' name="text" onmouseover="this.style.borderColor='black';this.style.backgroundColor='plum'" onmouseout="this.style.borderColor='blue';this.style.backgroundColor='#ffffff'" > 
		
         <input class="bt btn btn-lg btn-primary" name="action" type="submit" value="Search">			
		 <input class="bt btn btn-lg btn-primary" name="action" type="submit" value="Shuffle">			 
    </form>
	</div>
	 {% for result in results %}
			<div id="album" class="box">
				<a href="#myModal{{loop.index}}"  data-toggle="modal">
					<img src={{result.albumcoverurl}}  alt={{result.albumname}}>
				</a>
                <!-- <a href=#>!!!!!</a> -->
<!-- 				<span class="caption scale-caption">					
					<p>歌曲：<a href={{result.songurl}}  target="_blank">{{result.songname}}</a></p>
					<p>专辑：{{result.albumname}}</p>
				</span> -->
             </div>		  
	


    <div id="myModal{{loop.index}}" class="myModal modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:10%;padding:2% 2% 2% 2%;">    <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">歌曲详情</h3>
            </div>
            
            <div class="modal-body">
                <p>我的名字：<a href={{result.songurl}}  target="_blank" style="color:blue;">{{result.songname}}</a></p>
                <p>我的家乡：{{result.albumname}}</p>
                <p>我的简介：
                    林肯公园（Linkin Park）[1] 是一组来自美国加州的摇滚乐队，也被认为是新金属最成功的乐团。林肯公园在2000年以首张专辑《混合理论》在主流音乐市场上获得成功，该专辑销售量超过2,400万张，乐队接下来发行的《天空之城—美特拉》专辑也取得成功，在2003年的美国公告牌二百强专辑榜上排名第一。
林肯公园的第三张专辑《末日警钟 毁灭·新生》不再是新金属的风格，而走向主流，但仍然受到了歌迷的欢迎，截至2009年10月销售超过800万张。 2010年，林肯公园全球发行的第四张专辑《烈日千阳》延续上一张的概念，并加入了更多的电子音乐元素。
2012年，林肯公园推出的第五张专辑《生命 进化 原点》结合了过往各张专辑的特色，于6月26日全球发行。林肯公园曾多次与其他音乐人合作，当中包括2004年与美国饶舌歌手Jay-Z合作推出冲击理论，并曾两次获得格莱美奖。
                    林肯公园（Linkin Park）[1] 是一组来自美国加州的摇滚乐队，也被认为是新金属最成功的乐团。林肯公园在2000年以首张专辑《混合理论》在主流音乐市场上获得成功，该专辑销售量超过2,400万张，乐队接下来发行的《天空之城—美特拉》专辑也取得成功，在2003年的美国公告牌二百强专辑榜上排名第一。
林肯公园的第三张专辑《末日警钟 毁灭·新生》不再是新金属的风格，而走向主流，但仍然受到了歌迷的欢迎，截至2009年10月销售超过800万张。 2010年，林肯公园全球发行的第四张专辑《烈日千阳》延续上一张的概念，并加入了更多的电子音乐元素。
2012年，林肯公园推出的第五张专辑《生命 进化 原点》结合了过往各张专辑的特色，于6月26日全球发行。林肯公园曾多次与其他音乐人合作，当中包括2004年与美国饶舌歌手Jay-Z合作推出冲击理论，并曾两次获得格莱美奖。
                    林肯公园（Linkin Park）[1] 是一组来自美国加州的摇滚乐队，也被认为是新金属最成功的乐团。林肯公园在2000年以首张专辑《混合理论》在主流音乐市场上获得成功，该专辑销售量超过2,400万张，乐队接下来发行的《天空之城—美特拉》专辑也取得成功，在2003年的美国公告牌二百强专辑榜上排名第一。
林肯公园的第三张专辑《末日警钟 毁灭·新生》不再是新金属的风格，而走向主流，但仍然受到了歌迷的欢迎，截至2009年10月销售超过800万张。 2010年，林肯公园全球发行的第四张专辑《烈日千阳》延续上一张的概念，并加入了更多的电子音乐元素。
2012年，林肯公园推出的第五张专辑《生命 进化 原点》结合了过往各张专辑的特色，于6月26日全球发行。林肯公园曾多次与其他音乐人合作，当中包括2004年与美国饶舌歌手Jay-Z合作推出冲击理论，并曾两次获得格莱美奖。
                </p>
            </div>

            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">给我留言</button>
              <button class="btn btn-primary" data-dismiss="modal">我宣你</button>
            </div>
        </div>
    </div>
    {% endfor %}
	<a href="#" id="top">返回顶部</a>
</body>	

<script src="{{url_for('static',filename='jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>

<script type="text/javascript">
	function error()
	{
		alert("not finished yet!");
	}
	
	function post(URL, PARAMS) {        
    var temp = document.createElement("form");        
    temp.action = URL;        
    temp.method = "post";        
    temp.style.display = "none";        
    for (var x in PARAMS) {        
        var opt = document.createElement("textarea");        
        opt.name = x;        
        opt.value = PARAMS[x];        
        alert(opt.name);        
        temp.appendChild(opt);        
    }        
    document.body.appendChild(temp);        
    temp.submit();        
    return temp;        
}    

	$(function(){

		$(window).scroll(function(){ 
		var scrollt = document.documentElement.scrollTop + document.body.scrollTop; 
		if( scrollt >200 ){  
		$("#top").fadeIn(400);   
			}
		else{      
		$("#top").stop().fadeOut(400);   
			}

		});

		$("#top").click(function(){ 

		$("html,body").animate({scrollTop:"0px"},200);

			});

		});
//HighLight
(function($){
    $.fn.textSearch = function(str,options){
        var defaults = {
            divFlag: true,
            divStr: " ",
            markClass: "",
            markColor: "red",
            nullReport: true,
            callback: function(){
                return false;   
            }
        };
        var sets = $.extend({}, defaults, options || {}), clStr;
        if(sets.markClass){
            clStr = "class='"+sets.markClass+"'";   
        }else{
            clStr = "style='color:"+sets.markColor+";'";
        }
        
        //对前一次高亮处理的文字还原
        $("span[rel='mark']").removeAttr("class").removeAttr("style").removeAttr("rel");
        
        
        //字符串正则表达式关键字转化
        $.regTrim = function(s){
            var imp = /[\^\.\\\|\(\)\*\+\-\$\[\]\?]/g;
            var imp_c = {};
            imp_c["^"] = "\\^";
            imp_c["."] = "\\.";
            imp_c["\\"] = "\\\\";
            imp_c["|"] = "\\|";
            imp_c["("] = "\\(";
            imp_c[")"] = "\\)";
            imp_c["*"] = "\\*";
            imp_c["+"] = "\\+";
            imp_c["-"] = "\\-";
            imp_c["$"] = "\$";
            imp_c["["] = "\\[";
            imp_c["]"] = "\\]";
            imp_c["?"] = "\\?";
            s = s.replace(imp,function(o){
                return imp_c[o];                       
            }); 
            return s;
        };
        $(this).each(function(){
            var t = $(this);
            str = $.trim(str);
            if(str === ""){
                //alert("关键字为空"); 
                return false;
            }else{
                //将关键字push到数组之中
                var arr = [];
                if(sets.divFlag){
                    arr = str.split(sets.divStr);   
                }else{
                    arr.push(str);  
                }
            }
            var v_html = t.html();
            //删除注释
            v_html = v_html.replace(/<!--(?:.*)\-->/g,"");
  			v_html = v_html.replace(/&nbsp;/g,"");   //新添加的！
			
            //将HTML代码支离为HTML片段和文字片段，其中文字片段用于正则替换处理，而HTML片段置之不理
            var tags = /[^<>]+|<(\/?)([A-Za-z]+)([^<>]*)>/g;
            var a = v_html.match(tags), test = 0;
            $.each(a, function(i, c){
                if(!/<(?:.|\s)*?>/.test(c)){//非标签
                    //开始执行替换
                    $.each(arr,function(index, con){
                        if(con === ""){return;}
                        var reg = new RegExp($.regTrim(con), "g");
                        if(reg.test(c)){
                            //正则替换
                            c = c.replace(reg,"♂"+con+"♀");
                            test = 1;
                        }
                    });
                    c = c.replace(/♂/g,"<span rel='mark' "+clStr+">").replace(/♀/g,"</span>");
                    a[i] = c;
                }
            });
            //将支离数组重新组成字符串
            var new_html = a.join("");
            
            $(this).html(new_html);
            
            if(test === 0 && sets.nullReport){
                alert("没有搜索结果");    
                return false;
            }
            
            //执行回调函数
            sets.callback();
        });
    };
})(jQuery);

	// $("body").textSearch("{{sr}}")
</script>

