 <!doctype html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css"/> 
	<link rel="stylesheet" href="../static/bootstrap.min.css"  >
	<link rel="stylesheet" href="../static/4musicsearch.css"  >
    <title>Comment</title>

	
	<style>
	body
{
font-family:"楷体" ;
}
	</style>

</head>
<body>	
	
    <div class="nav">
		<a href="/">纯文本输出</a>&nbsp &nbsp
		<a href="/pic" >网格输出</a>&nbsp &nbsp
		<a href="/album">专辑墙</a>&nbsp &nbsp
		<a href=# onclick="error(this)">图片搜索</a>&nbsp &nbsp
		留言板&nbsp &nbsp
		
	</div>
	
	<div>
	  <form action="" method="post" enctype="multipart/form-data">     		
        <input class="inputbox" wrap='hard' name="text" onmouseover="this.style.borderColor='black';this.style.backgroundColor='plum'" onmouseout="this.style.borderColor='blue';this.style.backgroundColor='#ffffff'" > 
		
        <input class="bt btn btn-lg btn-primary" name="action" type="submit" value="Search">
		<input class="bt btn btn-lg btn-primary" name="action" type="submit" value="Shuffle">	   
    </form>
	</div>
	
	<div class="textresult">		  
	  	  <h1>评论数:{{number}}</h1>
          
          {% for comment in comments %}
          <pre><p>{{comment.text}}<br><br><br>{{comment.time}}</p></pre>
          {% endfor %}
    </div>
    <div style="margin:5% 2%;"> 
      <form action="" method=post enctype=multipart/form-data>
        <p>
          <h1>请输入评论:</h1>

          <div style="position:relative; left:200px;color:purple;font-size:25px;">
            <textarea warp="hard" rows="5" cols="60" style="resize:none;" name="text"></textarea>
          </div>          

          <div style="position:relative; left:200px;bottom:40px;margin:2%;">
            <input class="bt btn btn-lg btn-primary" type=submit value=OK>
          </div>

       </p>
      </form>	  
	</div>
    

    <div data-theme="a" data-role="footer" data-position="fixed" style="position:relative;left:600px">
        <h3>@copyright Morningmoni
            <!-- <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    
                    <a href=# onclick="func(this)" data-transition="fade" data-theme="" data-icon="" class="ui-link ui-btn ui-btn-active" data-ajax="false">
                        返回
                    </a>
            
                </li>
            </ul>
        </div> -->
        </h3>
    </div>

	<a href="#" id="top">返回顶部</a>
	
</body>	


<script type="text/javascript">
	function error()
	{
		alert("not finished yet!");
	}
	
	function post(URL, PARAMS) {        
    var temp = document.createElement("form");        
    temp.action = URL;        
    temp.method = "post";        
    temp.style.display = "none";        
    for (var x in PARAMS) {        
        var opt = document.createElement("textarea");        
        opt.name = x;        
        opt.value = PARAMS[x];        
        alert(opt.name);        
        temp.appendChild(opt);        
    }        
    document.body.appendChild(temp);        
    temp.submit();        
    return temp;        
}    

	$(function(){

		$(window).scroll(function(){ 
		var scrollt = document.documentElement.scrollTop + document.body.scrollTop; 
		if( scrollt >200 ){  
		$("#top").fadeIn(400);   
			}
		else{      
		$("#top").stop().fadeOut(400);   
			}

		});

		$("#top").click(function(){ 

		$("html,body").animate({scrollTop:"0px"},200);

			});

		});
//HighLight
(function($){
    $.fn.textSearch = function(str,options){
        var defaults = {
            divFlag: true,
            divStr: " ",
            markClass: "",
            markColor: "red",
            nullReport: true,
            callback: function(){
                return false;   
            }
        };
        var sets = $.extend({}, defaults, options || {}), clStr;
        if(sets.markClass){
            clStr = "class='"+sets.markClass+"'";   
        }else{
            clStr = "style='color:"+sets.markColor+";'";
        }
        
        //对前一次高亮处理的文字还原
        $("span[rel='mark']").removeAttr("class").removeAttr("style").removeAttr("rel");
        
        
        //字符串正则表达式关键字转化
        $.regTrim = function(s){
            var imp = /[\^\.\\\|\(\)\*\+\-\$\[\]\?]/g;
            var imp_c = {};
            imp_c["^"] = "\\^";
            imp_c["."] = "\\.";
            imp_c["\\"] = "\\\\";
            imp_c["|"] = "\\|";
            imp_c["("] = "\\(";
            imp_c[")"] = "\\)";
            imp_c["*"] = "\\*";
            imp_c["+"] = "\\+";
            imp_c["-"] = "\\-";
            imp_c["$"] = "\$";
            imp_c["["] = "\\[";
            imp_c["]"] = "\\]";
            imp_c["?"] = "\\?";
            s = s.replace(imp,function(o){
                return imp_c[o];                       
            }); 
            return s;
        };
        $(this).each(function(){
            var t = $(this);
            str = $.trim(str);
            if(str === ""){
                //alert("关键字为空"); 
                return false;
            }else{
                //将关键字push到数组之中
                var arr = [];
                if(sets.divFlag){
                    arr = str.split(sets.divStr);   
                }else{
                    arr.push(str);  
                }
            }
            var v_html = t.html();
            //删除注释
            v_html = v_html.replace(/<!--(?:.*)\-->/g,"");
			v_html = v_html.replace(/&nbsp;/g,"");   //新添加的！
            
            //将HTML代码支离为HTML片段和文字片段，其中文字片段用于正则替换处理，而HTML片段置之不理
            var tags = /[^<>]+|<(\/?)([A-Za-z]+)([^<>]*)>/g;
            var a = v_html.match(tags), test = 0;
            $.each(a, function(i, c){
                if(!/<(?:.|\s)*?>/.test(c)){//非标签
                    //开始执行替换
                    $.each(arr,function(index, con){
                        if(con === ""){return;}
                        var reg = new RegExp($.regTrim(con), "g");
                        if(reg.test(c)){
                            //正则替换
                            c = c.replace(reg,"♂"+con+"♀");
                            test = 1;
                        }
                    });
                    c = c.replace(/♂/g,"<span rel='mark' "+clStr+">").replace(/♀/g,"</span>");
                    a[i] = c;
                }
            });
            //将支离数组重新组成字符串
            var new_html = a.join("");
            
            $(this).html(new_html);
            
            if(test === 0 && sets.nullReport){
                alert("没有搜索结果");    
                return false;
            }
            
            //执行回调函数
            sets.callback();
        });
    };
})(jQuery);

	$("body").textSearch("{{sr}}")
</script>
