 <!doctype html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='assets/font-awesome/4.1.0/css/font-awesome.min.css')}}" />

    <!-- text fonts -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/fonts/fonts.googleapis.com.css')}}" />

    <!-- ace styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace.min.css')}}" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace-rtl.min.css')}}" />


    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace-skins.min.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/ace-rtl.min.css')}}" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="{{url_for('static',filename='assets/js/ace-extra.min.js')}}"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css"/> 
	<link rel="stylesheet" href="../static/bootstrap.min.css"  >
	<link rel="stylesheet" href="../static/4musicsearch.css"  >


    <title>Cover-Search</title>

	
	<style>
	body{
    font-family:"微软雅黑" ;
    }
    </style>


</head>
<body>	
	
    <div class="nav">
		<a href="/">纯文本输出</a>
		<a href="/pic" >歌曲搜索</a>
		<a href="/album">专辑墙</a>
		<a href="/coversearch">封面搜索</a>
		留言板
		
	</div>
	
	<div class="textresult">		  
	  	  <h1>留言数:{{number}}</h1>
          
          {% for comment in comments %}
            <div class="comment" >
                   
                    
                      {% autoescape false %}
                       {{comment.text}}
                       <div style="text-align:right;">
                            {{comment.time}}
                        </div>
                       {% endautoescape %} 
                   
            </div>
          {% endfor %}
    </div>
    
    <div style="margin:10% 2%;"> 
        <form id="post_form" action="" method=post enctype=multipart/form-data>
            <div style="color:white;">
                <h1 >发表留言:</h1>
            </div>
            <div style="position:relative; left:20px;font-size:24px;">
                <div class="form-group">
                    <div class="wysiwyg-editor" id="editor1" name="editor1">
                        
           
                    </div>
                    <textarea id="post-full" name="text" style="display:none;"></textarea>
                </div>
            </div>
            <div style="position:relative; left:600px;bottom:0px;margin:2%;">
                <button class="btn btn-primary" onclick="javascript: submitform()">提交</button>
                <!-- <input class="bt btn btn-lg btn-primary" type=submit value=OK> -->
            </div>

        </form>

         <script type="text/javascript">

                function submitform()
                {
                 $('#post-full').html($("#editor1").html());
                  document.post_form.submit();
                  
                }
        </script>
      	  
	</div>
    

    <div data-theme="a" data-role="footer" data-position="fixed" style="position:relative;left:500px">
        <h3>@copyright Morningmoni
            <!-- <div data-role="navbar" data-iconpos="top">
            <ul>
                <li>
                    
                    <a href=# onclick="func(this)" data-transition="fade" data-theme="" data-icon="" class="ui-link ui-btn ui-btn-active" data-ajax="false">
                        返回
                    </a>
            
                </li>
            </ul>
        </div> -->
        </h3>
    </div>

	<a href="#" id="top">返回顶部</a>
	
</body>	


<script type="text/javascript">
	function error()
	{
		alert("not finished yet!");
	}
	
	function post(URL, PARAMS) {        
    var temp = document.createElement("form");        
    temp.action = URL;        
    temp.method = "post";        
    temp.style.display = "none";        
    for (var x in PARAMS) {        
        var opt = document.createElement("textarea");        
        opt.name = x;        
        opt.value = PARAMS[x];        
        alert(opt.name);        
        temp.appendChild(opt);        
    }        
    document.body.appendChild(temp);        
    temp.submit();        
    return temp;        
}    

	$(function(){

		$(window).scroll(function(){ 
		var scrollt = document.documentElement.scrollTop + document.body.scrollTop; 
		if( scrollt >200 ){  
		$("#top").fadeIn(400);   
			}
		else{      
		$("#top").stop().fadeOut(400);   
			}

		});

		$("#top").click(function(){ 

		$("html,body").animate({scrollTop:"0px"},200);

			});

		});
//HighLight
(function($){
    $.fn.textSearch = function(str,options){
        var defaults = {
            divFlag: true,
            divStr: " ",
            markClass: "",
            markColor: "red",
            nullReport: true,
            callback: function(){
                return false;   
            }
        };
        var sets = $.extend({}, defaults, options || {}), clStr;
        if(sets.markClass){
            clStr = "class='"+sets.markClass+"'";   
        }else{
            clStr = "style='color:"+sets.markColor+";'";
        }
        
        //对前一次高亮处理的文字还原
        $("span[rel='mark']").removeAttr("class").removeAttr("style").removeAttr("rel");
        
        
        //字符串正则表达式关键字转化
        $.regTrim = function(s){
            var imp = /[\^\.\\\|\(\)\*\+\-\$\[\]\?]/g;
            var imp_c = {};
            imp_c["^"] = "\\^";
            imp_c["."] = "\\.";
            imp_c["\\"] = "\\\\";
            imp_c["|"] = "\\|";
            imp_c["("] = "\\(";
            imp_c[")"] = "\\)";
            imp_c["*"] = "\\*";
            imp_c["+"] = "\\+";
            imp_c["-"] = "\\-";
            imp_c["$"] = "\$";
            imp_c["["] = "\\[";
            imp_c["]"] = "\\]";
            imp_c["?"] = "\\?";
            s = s.replace(imp,function(o){
                return imp_c[o];                       
            }); 
            return s;
        };
        $(this).each(function(){
            var t = $(this);
            str = $.trim(str);
            if(str === ""){
                //alert("关键字为空"); 
                return false;
            }else{
                //将关键字push到数组之中
                var arr = [];
                if(sets.divFlag){
                    arr = str.split(sets.divStr);   
                }else{
                    arr.push(str);  
                }
            }
            var v_html = t.html();
            //删除注释
            v_html = v_html.replace(/<!--(?:.*)\-->/g,"");
			v_html = v_html.replace(/&nbsp;/g,"");   //新添加的！
            
            //将HTML代码支离为HTML片段和文字片段，其中文字片段用于正则替换处理，而HTML片段置之不理
            var tags = /[^<>]+|<(\/?)([A-Za-z]+)([^<>]*)>/g;
            var a = v_html.match(tags), test = 0;
            $.each(a, function(i, c){
                if(!/<(?:.|\s)*?>/.test(c)){//非标签
                    //开始执行替换
                    $.each(arr,function(index, con){
                        if(con === ""){return;}
                        var reg = new RegExp($.regTrim(con), "g");
                        if(reg.test(c)){
                            //正则替换
                            c = c.replace(reg,"♂"+con+"♀");
                            test = 1;
                        }
                    });
                    c = c.replace(/♂/g,"<span rel='mark' "+clStr+">").replace(/♀/g,"</span>");
                    a[i] = c;
                }
            });
            //将支离数组重新组成字符串
            var new_html = a.join("");
            
            $(this).html(new_html);
            
            if(test === 0 && sets.nullReport){
                alert("没有搜索结果");    
                return false;
            }
            
            //执行回调函数
            sets.callback();
        });
    };
})(jQuery);

	$("body").textSearch("{{sr}}");
</script>

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="{{url_for('static',filename='assets/js/jquery.2.1.1.min.js')}}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery.1.11.1.min.js"></script>
<![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='{{url_for('static',filename='assets/js/jquery.mobile.custom.min.js')}}'>"+"<"+"/script>");
</script>
<script src="{{url_for('static',filename='assets/js/bootstrap.min.js')}}"></script>

<!-- page specific plugin scripts -->
<script src="{{url_for('static',filename='assets/js/jquery-ui.custom.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.ui.touch-punch.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/markdown/markdown.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/markdown/bootstrap-markdown.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.hotkeys.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/bootstrap-wysiwyg.min.js')}}"></script>


<!-- ace scripts -->
<script src="{{url_for('static',filename='assets/js/ace-elements.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/ace.min.js')}}"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($){

        function showErrorAlert (reason, detail) {
            var msg='';
            if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
            else {
                //console.log("error uploading file", reason, detail);
            }
            $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+
                    '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
        }

        //$('#editor1').ace_wysiwyg();//this will create the default editor will all buttons

        //but we want to change a few buttons colors for the third style
        $('#editor1').ace_wysiwyg({
            toolbar:
                    [
                        'font',
                        null,
                        'fontSize',
                        null,
                        {name:'bold', className:'btn-info'},
                        {name:'italic', className:'btn-info'},
                        {name:'strikethrough', className:'btn-info'},
                        {name:'underline', className:'btn-info'},
                        null,
                        {name:'insertunorderedlist', className:'btn-success'},
                        {name:'insertorderedlist', className:'btn-success'},
                        {name:'outdent', className:'btn-purple'},
                        {name:'indent', className:'btn-purple'},
                        null,
                        {name:'justifyleft', className:'btn-primary'},
                        {name:'justifycenter', className:'btn-primary'},
                        {name:'justifyright', className:'btn-primary'},
                        {name:'justifyfull', className:'btn-inverse'},
                        null,
                        {name:'createLink', className:'btn-pink'},
                        {name:'unlink', className:'btn-pink'},
                        null,
                        {name:'insertImage', className:'btn-success'},
                        null,
                        'foreColor',
                        null,
                        {name:'undo', className:'btn-grey'},
                        {name:'redo', className:'btn-grey'}
                    ],
            'wysiwyg': {
                fileUploadError: showErrorAlert
            }
        }).prev().addClass('wysiwyg-style2');

    
        /**
         //make the editor have all the available height
         $(window).on('resize.editor', function() {
        var offset = $('#editor1').parent().offset();
        var winHeight =  $(this).height();
        
        $('#editor1').css({'height':winHeight - offset.top - 10, 'max-height': 'none'});
    }).triggerHandler('resize.editor');
         */

    });
</script>

